<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de archivos</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h2>Archivos</h2>
    <div>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Nivel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="archivo : ${listaArchivos}">
            <td th:text="${archivo.id}"></td>
            <td th:text="${archivo.nombreArchivo}"></td>
            <td th:text="${archivo.nivel}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>