<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">

</head>
<body>
<div th:replace="menunav :: common-navbar-board" />
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item" >
                        <br>
                        <a class="nav-link active" th:href="@{'/settipo/' + 'todo'}">
                            <span data-feather="file"></span>Todos<span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div th:each="c : ${curso}">
                <h1 class="h2"><span th:text="${c.nombre}"></span></h1>
                </div>
                <!--
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        Esta semana
                    </button>
                </div>-->
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr >
                        <th scope="col">Descripción</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Fecha</th>
                        <th class="col-sm-4" scope="col">Observaciones</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th class="col-sm-4"scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="archivo : ${listaArchivos}">
                            <td th:text="${archivo.descripcion}?: ${archivo.nombreArchivo}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${archivo.fecha}"></td>
                            <td th:text="${archivo.comentario}"></td>
                            <td th:text="${archivo.tipo}"></td>
                            <td th:text="${archivo.estado}"></td>
                            <td>
                                <a th:href="@{'downloadfile/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Ver o descargar" type="button" class="btn btn-light"><i class="fa fa-download"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'comentario/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Agregar comentario" type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                <a th:href="@{'delete/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Eliminar archivo" type="button" class="btn dark"><i class="fa fa-trash"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'approvestate/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Aprobar archivo" type="button" class="btn btn-primary"><i class="fa fa-thumbs-o-up"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'refusestate/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Rechazar archivo" type="button" class="btn btn-danger"><i class="fa fa-thumbs-o-down"></i></button></a>
                                <a th:href="@{'up/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Actualizar archivo" type="button" class="btn btn-dark"><i class="fa fa-refresh"></i></button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="../js/dashboard.js"></script>
</body>
</html>