<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresar archivo</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
    <div th:replace="menunav :: dependencias"/>

</head>
<body>
<div th:replace="menunav :: common-navbar-board" />

<div class="container">
    <br>
    <h2>Agregar Archivos</h2>
    <br>

    <form action="#" th:action="@{/upload}" th:object="${archivo}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label >Tipo de archivo</label>
            <div class="dropdown">
                <select type="text" name="tipo">
                    <option value="Planificacion anual">Planificación anual</option>
                    <option value="Planificacion mensual">Planificación mensual</option>
                    <option value="Red de contenidos">Red de contenidos</option>
                    <option value="Escala de apreciacion">Escala de apreciación</option>
                    <option value="Evaluacion diagnostica">Evaluación diagnostica</option>
                    <option value="Evaluacion pedagogica">Evaluación pedagógica</option>
                    <option value="Registro visual">Registro visual</option>
                    <option value="Video">Video</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label >Descripción</label>
            <input class="form-control" type="text" name="des" >
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="visible" id="inlineRadio1" value="true">
                <label class="form-check-label" for="inlineRadio1">Publico</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="visible" id="inlineRadio2" value="false">
                <label class="form-check-label" for="inlineRadio2">Privado</label>
            </div>
        </div>
        <p th:text="${message}" th:if="${message != null}" class="alert alert-danger"></p>
        <button id="btnSubmit" type="submit" class="btn btn-success" >
            Guardar
        </button>

    </form>
</div>
<script>
    $("#btnSubmit").click(function () {
        $(this).prop("disabled", true);

        $(this).html(
        '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Guardando...'
        );
    })
</script>
</body>

</html>