<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>

<div th:fragment="common-navbar-cursos" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Arcoiris</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/usuarios">Usuarios</a>
        <a class="p-2 text-dark" href="/savecurso/0">Agregar</a>
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>

    <a sec:authorize="hasRole('ROLE_USER')" class="btn btn-primary ml-2 mt-auto"> <span class="badge badge-light"><span th:text="${notificacion}"></span></span></a>
</div>

<div th:fragment="common-navbar-usuarios" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Arcoiris</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/register/user">Agregar </a>
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>
</div>

<div th:fragment="common-navbar-board" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Arcoiris</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/usuarios">Usuarios</a>
        <a class="p-2 text-dark" href="/cursos">Cursos</a>
        <a class="p-2 text-dark" href="/addfile">Agregar </a>
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>
</div>

<div th:fragment="dependencias">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="/js/addcurso.js"></script>
</div>

</body>
</html>