<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS
    <link rel="stylesheet" th:ref="@{usuarios.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/usuarios.css}"/>
    <div th:replace="menunav :: dependencias"/>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .btn-group-xs > .btn, .btn-xs {
            padding: .25rem .4rem;
            font-size: .875rem;
            line-height: .5;
            border-radius: .2rem;
        }
    </style>
</head>
<body>
<div th:replace="menunav :: common-navbar-usuarios"></div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Usuarios</h1>
    <p class="lead">Lista de usuarios registrados de la Escuela Arcoíris de San Clemente.</p>
</div>

<div class="container">
    <div class="card-columns">
    <div th:each="user : ${list}">
        <div class="card text-center" style="width: 18rem;">
            <div th:switch="${user.genero}">
                <div th:case="'hombre'"><img th:src="@{images/hombre.png}" class="img-fluid" ></div>
                <div th:case="'mujer'"><img th:src="@{images/mujer.png}" class="img-fluid" ></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><span th:text="${user.nombre}+' '+${user.apellido}"></span></h5>
                <p class="card-text"><span th:text="${user.profesion}"></span></p>
                <div class="row">
                    <div class="col-sm-8">
                        <a th:href="@{'setuser/' + ${user.id}}" class="btn btn-primary">Ver cursos</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn" th:href="@{'delete/user/' + ${user.id}}" ><ion-icon size="large" name="trash-outline"></ion-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>




</body>
</html>